* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-image: url(/pexels-lidia-miralles-16968296.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
    background-color: #303030;
    
    
    

}

.navbar-toggler:hover{
    color: black;
    background-color:transparent;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px none;
    margin: var(--one-header-space-l) 0;
    padding: 0px;
    text-align: center;
    
}
.navbar-brand{
    color: black;
    font-size: 25px;
    

}

.navbar {
    background-color: white;
    
    
}
.nav-link{
    color: #0c0c0c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}




.navbar-toggler{
    background-color: white;
    font-size: 19px;
    
}


.carousel img{
    border-radius: 10px;
}

.tarjeta {
    background-color: whitesmoke;
    /* margin: 5px 0; */
    padding: 20px;
    border-radius: 2px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tarjeta img{
    width: 100%;
    border-radius: 10px;
}







ul, ol {
    list-style-type: none;
}

header {
    background-color: #303030;
}

main {
    /* background-color: coral; */
    /* width: 80%; */
    margin: 0 auto; /* esto centra divs que tengan ancho definido */
    text-align: center;
    font-size: 10px;
}

footer {
    background-color: black;
}

footer p {
    text-align: center;
    font-size: 50px;
    color: white;
}

.social {
   background-color: rgb(42, 42, 141);
   color: white;
}

.carousel img{
    border-radius: 10px;
}








h4{
    color:black;
    font-size: 24px;
}
i{
    color: black;
    font-size: 30px;

}
.uno{
    color: black;
    text-align: center;
    
}
p{
    color: black;
}














