* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: grey;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar-toggler:hover{
    color: black;
    background-color:transparent;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px none;
    margin: var(--one-header-space-l) 0;
    padding: 0px;
    text-align: center;
    
}
.navbar-brand{
    color: black;
    font-size: 25px;
    

}

.navbar {
    background-color: white;
    
    
}
.nav-link{
    color: #0c0c0c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}




.navbar-toggler{
    background-color: white;
    font-size: 19px;
    
}


.carousel img{
    border-radius: 10px;
    
}

.tarjeta {
    
    /* margin: 5px 0; */
    margin: 5px 0;
    padding: 25px;
    border-radius: 2px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tarjeta img{
    width: 100%;
    border-radius: 20px;
    
}







ul, ol {
    list-style-type: none;
}


.dos{
    margin: 0 auto; /* esto centra divs que tengan ancho definido */
    text-align: center;
    font-size: 10px;
    background-image: url(img/FONDO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}
main {
    /* background-color: coral; */
    /* width: 80%; */
    margin: 0 auto; /* esto centra divs que tengan ancho definido */
    text-align: center;
    font-size: 25px;
    
    background-color: white; 
}


contacto{
    background-image: url(img/FONDO.jpg);
}

footer {
    background-color: rgb(58, 56, 56);
}

footer p {
    text-align: center;
    font-size: 50px;
    color: white;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: black;
    background-color: black;
    border-color: black;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: black;
    background-color: black;
    border-color: black;
}
.btn:hover {
    color: black;
    background-color: black;
    border-color: black;
}

.social {
   background-color: rgb(0, 0, 0);
   
}

.carousel img{
    border-radius: 10px;
}

li{
    font-size: 25px;
    
    
    
}
.card{
    background-color: rgb(27, 27, 27);
    border-radius: 25px;
    height: 50px;
    padding: 5px;
}





.ac{
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    color:black;
    font-size: 24px;
}
i{
    color: black;
    font-size: 25px;

}

h5{
    font-size: 40px;
    
}
.uno{
    color:white;
    text-align: flex;
    font-size: 44px;
    
}
p{
    color: black;
    font-size: 25px;
    text-align: center;
}















